* {
    margin: 0;
    padding: 0;
    
    scroll-behavior: smooth;

    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;

    background: var(--zircon);
}

button {    
    display: block;     

    background: transparent;

    border: none;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

::-webkit-scrollbar {
    width: 0;
}
::-o-scrollbar {
    width: 0;
}
::-moz-scrollbar {
    width: 0;
}
::-ms-scrollbar {
    width: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}