.btn {
    display: inline-block;
    padding: 8px 16px;

    border-radius: 18px;
       
    font-size: 16px;
    font-weight: 500;

    color: var(--white);

    cursor: pointer;

    transition: .2s;
}

.btn_primary {
    background: var(--purple);
}

.btn_secondary {
    background: var(--black);
}


@media(hover) {
    .btn:hover {
        transform: translateY(-4px);
    }
}   

.btn:focus-visible {
    transform: translateY(-4px);

    outline: none;
}

.btn:active {
    transform: translateY(2px); /* TODO: reconsider this parameter (12px?) */
}


/* 
.btn_primary:hover {
    background: var(--white);
    color: var(--purple);
}

.btn_secondary:hover {
    background: var(--white);
    color: var(--black)
} 
*/