---
import { cva } from 'class-variance-authority'

import styles from './auth-button.module.css'

const button = cva(styles.btn, {
    variants: {
        intent: {
            primary: styles.btn_primary,
            secondary: styles.btn_secondary,
        }
    },
    defaultVariants: {
        intent: "primary"
    }
})

const { intent } = Astro.props
---

<button class={button({ intent })}>
    <slot/>
</button>