.slider {
    height: 100%;
}

.sliderControlsGroup {
    display: flex;
    
    justify-content: space-between;
}

.sliderViewport {
    height: 100%;
}

.slides {
    display: flex;

    height: 100%;

    margin-left: -12px;
}
