
.moreActionsItem {
    display: flex;
    align-items: center;

    gap: 12px;

    padding: 8px 16px;

    background: var(--white);
    border-radius: 8px;
    outline: none;

    font-weight: 600;
    font-size: 16px;
    color: var(--charcoal);

    transition: .2s;

    cursor: pointer;
}


@media(hover) {
    .moreActionsItem:hover {
        background: var(--pearl);
    }
}