.list {
    margin-top: 312px;

    padding-bottom: 312px;
}

.container {
    display: flex;
    flex-direction: column;

    gap: 128px;
}

.reverse {
    flex-direction: row-reverse;
}

.feature {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.img {

}

.card {
    width: 50%;

    background: var(--white);

    border-radius: 24px;

    padding: 32px;
}

.title {
    font-size: 40px;
    font-weight: 600;

    color: var(--black);
}

.title > span {
    color: var(--purple);
}

.text {
    margin-top: 24px;

    font-weight: 20px;

    color: var(--gravel)
}

.card__btn {
    margin-top: 24px;
}

.btn {
    margin: 0 auto;
    margin-top: 256px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn > img:first-child {
    transform: translateX(24px);
}

.btn > img:last-child {
    transform: translateX(12px) translateY(24px);
}

.btn > button {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
}