---
import Header from 'widgets/header/index.astro'
import Hero from 'widgets/hero/index.astro'

import 'styles/index.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskiro</title>
</head>
<body>
    <Header/>
    <Hero/>
</body>
</html>